<div class="modal-header">
    <h4 class="modal-title">Alert</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h6>Your session expired , please login again</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn nbb-btn-color" (click)="accept()" style="color: #fff;"><i class="fa-solid fa-circle-check"></i> Ok</button>
    </div>