<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <div class="container-fluid p-3">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <mat-card class="m-0 mb-3">
            <mat-card-content>
              <div class=" mb-2">
                <h4 class="text-center heading">Customer Details</h4>
                <div class="row">
                  <h5 class="header">Name: {{userdetails?.name}}</h5>
                  <h5 class="header">Phone: {{userdetails?.mobileNo}}</h5>
                  <h5 class="header">Email: {{userdetails?.email}}</h5>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="m-0">
            <mat-card-content>
              <div class="mb-2">
                <div class="">

                  <!-- <button class="green mb-2">  <br></button> -->
                  <div class="text-center">
                    <h4 class=" heading">Trips</h4>
                  </div>
                  <div class="col-5">
                    <div class="input-group ">
                      <input type="text" class="form-control" placeholder="order id" aria-label="Search"
                        (input)="searchtrip($event)" aria-describedby="basic-addon2">
                      <button class="btn search-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6 mb-2 activetrip">
                    <div>
                      <h5 class="heading">Active trips</h5>
                      <button mat-raised-button color="primary" (click)="loadActiveTrips()"
                        class="green mb-2">Load</button>
                    </div>
                    <div *ngIf="viewshow == true">
                      <mat-card class="m-0 mb-3" *ngFor="let item of activetrip; let i = index">
                        <mat-card-content class="p-0">
                          <div class=" trip p-1">
                            <div class="my-2">
                              <h6 class="text-center"><b>{{item?.createdAt | date}} {{item?.createdAt |
                                  date:'mediumTime'}}  </b></h6>
                            </div>
                            <div class="px-1 ">
                              <div class="col-sm-8 col-md-8">
                                <h5 class="tripheader">{{item?.deliveryType}}</h5>
                                <div class="green p-2 mb-2">
                                  <h6> Time: {{item?.createdAt | date:'mediumTime'}} </h6>
                                  <h6>Date: {{item?.createdAt | date}} </h6>
                                </div>
                                <h6>Trip Distance: {{item?.totalKms}}</h6>
                              </div>
                              <div class="row p-2">
                                <div class="col-sm-4 col-md-6  col-lg-6 p-1">
                                  <div class="green p-1">
                                    <h6 style="font-size: 12px;"><b>FROM</b></h6>
                                    <h6 style="font-size: 12px;">{{item?.pickupAddress[i]?.street}}
                                      , {{item?.pickupAddress[i]?.city}} ,<br> {{item?.pickupAddress[i]?.state}} ,
                                      {{item?.pickupAddress[i]?.country}} ,
                                      {{item?.pickupAddress[i]?.postalCode}} .
                                    </h6>
                                  </div>
                                </div>
                                <div class="col-sm-4 col-md-6  col-lg-6 p-1">
                                  <div class="green p-1">
                                    <h6 style="font-size: 12px;"><b>TO </b></h6>
                                    <h6 style="font-size: 12px;"> {{item?.dropAddress[i]?.street}} ,
                                      {{item?.dropAddress[i]?.city}}
                                      {{item?.dropAddress[i]?.state}} , {{item?.dropAddress[i]?.country}} ,
                                      {{item?.dropAddress[i]?.postalCode}} .


                                    </h6>
                                  </div>
                                </div>
                              </div>
                              <h6>Courier assigned: R V SRIRAM</h6>
                              <h6>Trip Cost: {{item?.amountDetails?.finalAmount}}₹</h6>
                              <h6>Payment: Cash On Delivery</h6>
                              <div class="text-center my-3">
                                <button mat-raised-button class="blue px-3" (click)="moredetails()">MORE DETAILS</button>
                              </div>
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 mb-2 completetrip">
                    <div>
                      <h5 class="heading">Completed trips </h5>
                      <button mat-raised-button color="primary" (click)="loadCompleteTrips()"
                        class="green mb-2">Load</button>
                    </div>
                    <div *ngIf="viewshowcomplete == true">
                      
                      <mat-card class="m-0 mb-3"  *ngFor="let item of completetrip; let i = index">
                        <mat-card-content class="p-0">
                          <div class=" trip p-1">
                            <div class="my-2">
                              <h6 class="text-center"><b>{{item?.createdAt | date}} {{item?.createdAt |
                                  date:'mediumTime'}}  </b></h6>
                            </div>
                            <div class="px-1 ">
                              <div class="col-sm-8 col-md-8">
                                <h5 class="tripheader">{{item?.deliveryType}}</h5>
                                <div class="green p-2 mb-2">
                                  <h6> Time: {{item?.createdAt | date:'mediumTime'}} </h6>
                                  <h6>Date: {{item?.createdAt | date}} </h6>
                                </div>
                                <h6>Trip Distance: {{item?.totalKms}}</h6>
                              </div>
                              <div class="row p-2">
                                <div class="col-sm-4 col-md-6  col-lg-6 p-1">
                                  <div class="green p-1">
                                    <h6 style="font-size: 12px;"><b>FROM</b></h6>
                                    <h6 style="font-size: 12px;">{{item?.pickupAddress[i]?.street}}
                                      , {{item?.pickupAddress[i]?.city}} ,<br> {{item?.pickupAddress[i]?.state}} ,
                                      {{item?.pickupAddress[i]?.country}} ,
                                      {{item?.pickupAddress[i]?.postalCode}} .
                                    </h6>
                                  </div>
                                </div>
                                <div class="col-sm-4 col-md-6  col-lg-6 p-1">
                                  <div class="green p-1">
                                    <h6 style="font-size: 12px;"><b>TO </b></h6>
                                    <h6 style="font-size: 12px;"> {{item?.dropAddress[i]?.street}} ,
                                      {{item?.dropAddress[i]?.city}}
                                      {{item?.dropAddress[i]?.state}} , {{item?.dropAddress[i]?.country}} ,
                                      {{item?.dropAddress[i]?.postalCode}} .


                                    </h6>
                                  </div>
                                </div>
                              </div>
                              <h6>Courier assigned: R V SRIRAM</h6>
                              <h6>Trip Cost: {{item?.amountDetails?.finalAmount}}₹</h6>
                              <h6>Payment: Cash On Delivery</h6>
                              <div class="text-center my-3">
                                <button mat-raised-button class="blue px-3" (click)="moredetails()">MORE DETAILS</button>
                              </div>
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>

              </div>
            </mat-card-content>
          </mat-card>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
          <mat-card class="m-0">
            <mat-card-content>
              <div class="" *ngFor="let items of userdetails?.addressDetails">
                <h4 class="text-center heading"> Customer Address</h4>
                <div class="">
                  <h4 class="heading">{{items.address.addressType}}</h4>
                  <div>
                    <p class="header">
                      {{items.address.fullAddress}} {{items.address.street}} {{items.address.landMark}}
                      {{items.address.city}} ,{{items.address.state}} {{items.address.country}}
                      {{items.address.postalCode}}
                    </p>
                    <p class="header">
                      44, 2nd Cross Street, near Jaya School,
                      CIT Nagar West, CIT Nagar,
                      Chennai, Tamil Nadu 600024,
                      India</p>
                    <p class="header">
                      <b> Contact Person:</b>{{items.address.contactPerson}}
                      <br>
                      <b> Contact Person Number:</b>{{items.address.contactPersonNumber}}
                    </p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>


  </div>
</div>