
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
      <div class="container-fluid p-3">
        <div class="row-wrap px-3">
          <div class="col-sm-6 col-md-3 col-lg-3 customerbtn">
            <div classs>
              <button type="button" class="btn buttons">
                <span class="customer">B2B Customers</span> <span class="badge badge-light float-right violet">{{totalCount}}</span>
              </button>
            </div>
      
          </div>
        </div>
        <div class="row p-3">
          <mat-card class="m-0">
            <mat-card-header class="">
                <div class="cardheader ">
                  <div class="search-container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class=" d-flex">
                          <div class=" searchone">
                            <div class="input-group ">
                              <input type="text" placeholder="Search Customers"autocomplete="off" class="form-control" (input)="searchCustomer($event)">
                              <div class="input-group-append">
                                <button class="btn btnsearch" type="submit" value="search">
                                  <i class="fas fa-search text-white"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="">
                  <div class="row p-0">
                    <div class="col-sm-6 col-md-6 col-lg-4 mb-4  " *ngFor="let items of b2bCustomerList; let i=index;">
                        <mat-card class="m-0">
                          
                          <mat-card-content class="customerscard p-0">
                            
                              <div class="row-wrap d-flex ">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6 ">
                                  <div class="">
                                    <!-- <span>Unverified</span> -->
                                    <div *ngIf="items?.isVerified; else verified">
                                      <div [ngClass]="{'green': items?.isVerified == true}">verified</div>
                                    </div>
                                    
                                    <ng-template #verified>
                                      <div [ngClass]="{'red': items?.isVerified != true}">unverified</div>
                                    
                                    </ng-template>
                                  </div>
                            
                                </div>
                              </div>
                              
                            
                                <div class="p-3">
                                  <h4 class="heading">Name : {{items.name}}</h4>
                                  <h4 class="heading">Phone : {{items.mobileNo}}</h4>
                                  <h4 class="heading">Email : {{items.email}}</h4>
                                  <h4 class="heading">GST : {{items.gst_no}}</h4>
                                      <div class="text-center mt-2">
                                        <button mat-raised-button color="primary" class="verifybtn" (click)="updateVerifyStatus(items)"> VERIFY </button>
                                      </div>
                                </div>
                                
                                
                          </mat-card-content>
                        </mat-card>

                      
                    </div>
                
                <div>
                  <mat-paginator (page)="pageChange($event)" [pageSize]="limit" aria-label="Select page" [length]="totalCount">
                  </mat-paginator>
                </div>
                
                
                
                
                  </div>
                </div>
            </mat-card-content>
          </mat-card>
          
          
      
        </div>
      </div>

  </div>
</div>