<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <div class="col-lg-4">

      <div class="p-3">
        <button type="button" class="btn btn-light buttons">
          <b> Stamp document orders</b><span class="badge badge-light float-right violet">4</span>
        </button>

      </div>

      <!-- <div class="demo-section">
            
            <button mat-raised-button color="primary" matBadge="4" matBadgePosition="after" matBadgeColor="accent">
              Stamp document orders
            </button>
          </div> -->


      <mat-card>
        <mat-card-content>
          <mat-card-title style="padding:2rem"></mat-card-title>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>