.buttons {
    border-radius: 5px;
    width: 100%;
    padding: 0px 0px 0px 6px;
    font-weight: 600;
    font-size: 14px;
    background: #fff;
    align-items: center;
position: relative;
    
  }
  h6{
    font-weight: 600;
  }
  .violet {
    background: #4348CF;

}

.orange {
    background: #CF6443;
}

   .badge {
    float: right;
   
    padding: 7px 10px;
    
    top: 0px;
    border-radius: 5px ;
    // background: #21aa47;
    color: #fff;
  }
  .btn:focus {
    outline: 0;
     box-shadow:none !important;
}