<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <section>
      <div class="container-fluid p-3">
        <div class="">
          <h6 class="header px-3">B2B Pending and Currently Active Deliveries</h6>
        </div>
        <div class="row">
          <div class="col-lg-4">
          
            <div class="p-3">
              <button type="button" class="btn btn-light buttons">
                <b> B2B Active trips</b><span class="badge badge-light float-right violet">0</span>
              </button>
          
            </div>
          
            <mat-card>
              <mat-card-content>
                <mat-card-title style="padding:2rem"></mat-card-title>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-4">
          
            <div class="p-3">
              <button type="button" class="btn btn-light buttons">
                <b>B2B New trips</b><span class="badge badge-light float-right orange">0</span>
              </button>
          
            </div>
          
            <mat-card>
              <mat-card-content>
                <mat-card-title style="padding:2rem"></mat-card-title>
              </mat-card-content>
            </mat-card>
          </div>
    
         
        </div>
      </div>
    </section>

   

  </div> 
</div>
